<% content_for :head do %>
    <%= stylesheet_link_tag 'resetpassword' %>
<% end %>

<div id="co-resetpwd-wrapper">
    <%= form_for(:reset_password, :url=>"/torequestresetpassword") do |f| %>
        <p class="co-resetpwd-logo">
            <strong><%= link_to "T A V E R N", root_url %></strong>
        </p>

        <p class="co-resetpwd-tip">
            找 回 密 码
        </p>
        <%= f.email_field :email, :placeholder=> "请 输 入 注 册 时 的 邮 箱", :value => @resetpassword_email %>
        <% if flash[$error_resetpassword_email] %>
            <p class="co-resetpwd-error-email"><%= flash[$error_resetpassword_email] %></p>
        <% end %>

        <div class="co-resetpwd-code">
            <div class="co-resetpwd-code-wrapper">
                <p id="co-resetpwd-code-data"><%= @final_code %></p>
                <p id="co-resetpwd-code-tip">验 证 码</p>
            </div>
            <div class="co-resetpwd-code-input">
                <%= f.text_field :code_a , :maxlength => 1 %>
                <%= f.text_field :code_b , :maxlength => 1 %>
                <p id="co-resetpwd-code-input-tip">请 输 入 左 边 方 框 出 现 的 字 母</p>

                <% if flash[$error_resetpassword_code] %>
                    <p class="co-resetpwd-error-code"><%= flash[$error_resetpassword_code] %></p>
                <% end %>

            </div>
        </div>

        <div class="co-resetpwd-btn-field">
            <%= f.submit "下一步", :id=>"co-resetpwd-btn" %>
        </div>

    <% end %>


</div>



