
<% content_for :head do %>
    <%= stylesheet_link_tag 'resetpassword' %>
<% end %>


<div id="co-resetpwd-wrapper">
    <%= form_for(:reset_password, :url=>"/toresetpassword") do |f| %>
        <p class="co-resetpwd-logo">
            <strong><%= link_to "T A V E R N", root_url %></strong>
        </p>

        <p class="co-resetpwd-tip">
            重 设 密 码
        </p>

        <div>
            <%= f.password_field :new_password, :placeholder => "请输入您的新密码" , :class=> "co-resetpwd-input" %>
            <% if flash[$error_resetpassword_new_password] %>
                <p class="co-resetpwd-error-long-input"><%= flash[$error_resetpassword_new_password] %></p>
            <% end %>
            <%= f.password_field :confirm_password, :placeholder => "确认密码" , :class=> "co-resetpwd-input" %>
            <% if flash[$error_resetpassword_confirm_password] %>
                <p class="co-resetpwd-error-long-input"><%= flash[$error_resetpassword_confirm_password] %></p>
            <% end %>
        </div>

        <p class="co-resetpwd-color-tip" id="co-resetpwd-color-tip-remember-password">请 牢 记 并 谨 慎 保 管 您 的 密 码</p>

        <div>
            <%= f.submit "完成", :id=>"co-resetpwd-btn" %>
        </div>

    <% end %>


</div>