<h1>重设密码界面</h1>



<div class="body-container">
    <ul class="container-ul">
        <%= form_for(:change_password, :url=>"/tochangepassword") do |f| %>
            <li><%= f.password_field :old_password, :placeholder => "请输入原密码" %></li>
            <li><%= f.password_field :new_password, :placeholder => "请输入新密码" %></li>
            <li><%= f.password_field :confirm_password, :placeholder => "请再次输入新密码" %></li>
            <li><%= f.submit "修改密码" %></li>
        <% end %>

        <% flash.each do |key, value| %>
            <li><%= key %> | <%= value %></li>
        <% end %>
    </ul>
</div>