<div class="body-container">
    <ul class="container-ul">
        <%= form_for(:reset_password, :url=>"/toresetpassword") do |f| %>
            <li><%= f.email_field :email, :placeholder => "邮箱地址" %></li>
            <li><%= f.text_field :rec_code, :placeholder => "请输入验证码" %><%= @number1 %> + <%= @number2 %>=</li>
            <li><%= f.submit "重设密码" %></li>
        <% end %>

        <% flash.each do |key, value| %>
            <li><%= key %> | <%= value %></li>
        <% end %>
    </ul>
</div>