
<div id="signinup_wrapper">
    <div id="signin_wrapper">
        <p class="signinup_title">登录</p>
        <div id="signin">
            <%= form_for(:user_account, :url=>"/tosignin") do |f| %>
                <% flash.each do |key, value| %>
                    <li><%= key %> | <%= value %></li>
                <% end %>
                <%= f.email_field :email, :placeholder=>"邮箱地址" %>
                <%= f.password_field :password, :placeholder=>"密码" %>
                <div id="remember_forgot_field">
                    <div id="remember_me">
                        <%= f.check_box :remember_signin %>
                        <%= f.label :remember_signin, "记住我" %>
                    </div>
                    <div id="forgot_password">
                        <%= link_to "忘记密码?" ,'/requestresetpassword' %>
                    </div>
                </div>
                <div class="signinup_submit_button"><%= f.submit "登录" ,class:"signinup_btn" %></div>
                    <% end %>
                    </div>
                    </div>



                                    </div>