<div id="co-peoples-show-basic-information">
    <p class="cps-part-title">
        <span>个人简介</span>
        <span>INTRODUCE</span>
    </p>
    <div id="co-peoples-show-basic-information-content">
        <div id="cpsb-username"><%= (@basic_information.nil? || @basic_information.name == "")? "姓名" : "姓名: " + @basic_information.name %></div>
        <div>|</div>
        <div id="cpsb-gender"><%= (@basic_information.nil? || @basic_information.gender < 0)? "性别" : (@basic_information.gender == 1? "男" : "女")%></div>
        <div>|</div>
        <div id="cpsb-occupation"><%= (@basic_information.nil? || @basic_information.occupation == "")? "职业" : "职业: " + @basic_information.occupation %></div>
        <div>|</div>
        <div id="cpsb-birthday">
            <%= (@basic_information.nil? || @basic_information.birthday == 0)? "出生年月" :
                          (Time.at(@basic_information.birthday).year.to_s + "-" +
                           Time.at(@basic_information.birthday).month.to_s + "-" +
                           Time.at(@basic_information.birthday).day.to_s) %>
        </div>
        <div>|</div>
        <div id="cpsb-location"><%= (@basic_information.nil? || @basic_information.location == "")? "现居地" : "现居地: " + @basic_information.location %></div>
        <% if is_master_user(@current_page_account_id) %>
        <div id="cpsb-edit-btn-div"><%= image_tag "memory_content_edit.png", :onclick=>"onClickEditBasicInformation();" ,:id=>"cpsb-edit-btn" %></div>
        <% end %>
    </div>
</div>

<% if is_master_user(@current_page_account_id) %>

<div id="co-peoples-update-basic-information">
    <!-- 姓名区域 -->
    <div class="cpub-part">
        <p class="cpub-label">姓名</p>
        <div>
            <input type="text" name="username" id="cpub-username"/>
        </div>
    </div>

    <!-- 性别区域 -->
    <div class="cpub-part">
        <p class="cpub-label">性别</p>
        <div class="cpub-dropdown">
            <select id="cpub-gender" value="man" class="cpub-dropdown-select">
                <option value="none">性别</option>
                <option value="man" >男</option>
                <option value="woman" >女</option>
            </select>
        </div>
    </div>

    <!-- 职业区域 -->
    <div class="cpub-part">
        <p class="cpub-label">职业</p>
        <div>
            <input type="text" name="occupation"  id="cpub-occupation"/>
        </div>
    </div>

    <!-- 出生年月日区域 -->
    <div class="cpub-part">
        <p class="cpub-label">出生年月</p>
        <div class="cpub-dropdown">
            <select id="cpub-birthday-year" onchange="onBasicInfoEditChangeBirthdayYear();">

            </select>
        </div>
        <div class="cpub-dropdown" onchange="onBasicInfoEditChangeBirthDayMonth();">
            <select id="cpub-birthday-month">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="cpub-dropdown">
            <select id="cpub-birthday-day">

            </select>
        </div>
    </div>


    <!-- 现居地区域 -->
    <div class="cpub-part">
        <p class="cpub-label">现居地</p>
        <div class="cpub-dropdown">
            <select id="cpub-location-province" onchange="onBasicInfoEditChangeProvince();">
                <option value="省份">省份</option>
                <option value ="北京市">北京市 </option>
                <option value ="天津市">天津市 </option>
                <option value ="上海市">上海市 </option>
                <option value ="重庆市">重庆市 </option>
                <option value ="河北省">河北省 </option>
                <option value ="山西省">山西省 </option>
                <option value ="辽宁省">辽宁省 </option>
                <option value ="吉林省">吉林省 </option>
                <option value ="黑龙江省">黑龙江省</option>
                <option value ="江苏省">江苏省 </option>
                <option value ="浙江省">浙江省 </option>
                <option value ="安徽省">安徽省 </option>
                <option value ="福建省">福建省 </option>
                <option value ="江西省">江西省 </option>
                <option value ="山东省">山东省 </option>
                <option value ="河南省">河南省 </option>
                <option value ="湖北省">湖北省 </option>
                <option value ="湖南省">湖南省 </option>
                <option value ="广东省">广东省 </option>
                <option value ="海南省">海南省 </option>
                <option value ="四川省">四川省 </option>
                <option value ="贵州省">贵州省 </option>
                <option value ="云南省">云南省 </option>
                <option value ="陕西省">陕西省 </option>
                <option value ="甘肃省">甘肃省 </option>
                <option value ="青海省">青海省 </option>
                <option value ="台湾省">台湾省 </option>
                <option value ="广西壮族自治区">广西壮族自治区</option>
                <option value ="内蒙古自治区">内蒙古自治区</option>
                <option value ="西藏自治区">西藏自治区</option>
                <option value ="宁夏回族自治区">宁夏回族自治区 </option>
                <option value ="新疆维吾尔自治区">新疆维吾尔自治区</option>
                <option value ="香港特别行政区">香港特别行政区</option>
                <option value ="澳门特别行政区">澳门特别行政区</option>

            </select>
        </div>
        <div class="cpub-dropdown">
            <select id="cpub-location-city">
                <option value="城市">城市</option>
            </select>
        </div>
    </div>

    <!-- 确认取消提交按钮区域 -->
    <div class="cpub-part" id="cpub-submit-btn">
        <button id="cpub-btn-confirm" class="cpub-submit-btn" onclick="onBasicInfoEditConfirm();">确认</button>
        <button id="cpub-btn-cancel" class="cpub-submit-btn" onclick="onBasicInfoEditCancel();">取消</button>
    </div>

</div>


<script>

    // 点击了编辑按钮后，解析显示区域的内容，填充在表单里
    function onClickEditBasicInformation(){
        $('#co-peoples-show-basic-information').hide();
        $('#co-peoples-update-basic-information').show();

        var old_name = document.getElementById('cpsb-username').innerText;
        var old_gender = document.getElementById('cpsb-gender').innerText;
        var old_occupation = document.getElementById('cpsb-occupation').innerText;
        var old_birthday = document.getElementById('cpsb-birthday').innerText;
        var old_location = document.getElementById('cpsb-location').innerText;


        var obj_cpub_name = document.getElementById('cpub-username');
        var obj_cpub_gender = document.getElementById('cpub-gender');
        var obj_cpub_occupation = document.getElementById('cpub-occupation');
        var obj_cpub_birthday_year = document.getElementById('cpub-birthday-year');
        var obj_cpub_birthday_month = document.getElementById('cpub-birthday-month');
        var obj_cpub_birthday_day = document.getElementById('cpub-birthday-day');
        var obj_cpub_location_province = document.getElementById('cpub-location-province');
        var obj_cpub_location_city = document.getElementById('cpub-location-city');

        var edit_name = "";
        var edit_gender = "";
        var edit_occupation = "";
        var edit_birthday_year = 2000;
        var edit_brithday_month = 1;
        var edit_birthday_day = 1;
        var edit_location_province = "省份";
        var edit_location_city = "城市";

        if (old_name != "姓名"){
            name_array = old_name.split(': ');
            edit_name = name_array[1];
        }

        if(old_gender == "性别"){
            edit_gender = "none";
        }
        else if(old_gender == "男"){
            edit_gender = "man"
        }
        else{
            edit_gender = "woman"
        }

        if(old_occupation != "职业"){
            occupation_array = old_occupation.split(': ');
            edit_occupation = occupation_array[1];
        }


        birthday_array = old_birthday.split('-');
        edit_birthday_year = parseInt(birthday_array[0]);
        edit_birthday_month = parseInt(birthday_array[1]);
        edit_birthday_day = parseInt(birthday_array[2]);


        if(isNaN(edit_birthday_year)){
            edit_birthday_year = 2000;
            edit_birthday_month = 1;
            edit_birthday_day = 1;
        }

        if(old_location != "现居地"){
            location_array = old_location.split(': ')[1].split('-');
            edit_location_province = location_array[0];
            edit_location_city = location_array[1];
        }



        obj_cpub_name.value = edit_name;
        obj_cpub_gender.value = edit_gender;
        obj_cpub_occupation.value = edit_occupation;
        obj_cpub_birthday_year.value = edit_birthday_year;
        obj_cpub_birthday_month.value = edit_birthday_month;

        onBasicInfoEditChangeBirthdayYear();

        obj_cpub_birthday_day.value = edit_birthday_day;
        obj_cpub_location_province.value = edit_location_province;

        onBasicInfoEditChangeProvince();

        obj_cpub_location_city.value = edit_location_city;
    }




    // ---------------------- 现居地相关 -------------------
    var china=new Object();
    china['省份']=new Array('城市');
    china['北京市']=new Array('北京');
    china['上海市']=new Array('上海');
    china['天津市']=new Array('天津');
    china['重庆市']=new Array('重庆');
    china['河北省'] = new Array('石家庄', '唐山市', '邯郸市', '秦皇市岛', '保市定', '张家市口', '承德市', '廊坊市', '沧州市', '衡水市', '邢台市');
    china['山西省']=new Array('太原市','大同市','阳泉市','长治市','晋城市','朔州市','晋中市','运城市','忻州市','临汾市','吕梁市');
    china['辽宁省']=new Array('沈阳市','大连市','鞍山市','抚顺市','本溪市','丹东市','锦州市','营口市','阜新市','辽阳市','盘锦市','铁岭市','朝阳市','葫芦岛市');
    china['吉林省']=new Array('长春市','吉林市','四平市','辽源市','通化市','白山市','松原市','白城市','延边州','长白山管委会');
    china['黑龙江省']=new Array('哈尔滨市','齐齐哈尔市','大庆市','佳木斯市','牡丹江市','七台河市','双鸭山市','黑河市','鸡西市','伊春市','绥化市','鹤岗市','加格达奇市');
    china['江苏省']=new Array('南京市','苏州市','无锡市','常州市','南通市','扬州市','镇江市','泰州市','盐城市','连云港市','宿迁市','淮安市','徐州市');
    china['浙江省']=new Array('杭州市','宁波市','温州市','嘉兴市','湖州市','绍兴市','金华市','衢州市','舟山市','台州市','丽水市');
    china['安徽省']=new Array('合肥市','芜湖市','蚌埠市','淮南市','马鞍山市','淮北市','铜陵市','安庆市','黄山市','滁州市','阜阳市','宿州市','巢湖市','六安市','亳州市','池州市','宣城市');
    china['福建省']=new Array('福州市','厦门市','莆田市','三明市','泉州市','漳州市','南平市','龙岩市','宁德市');
    china['江西省']=new Array('南昌市','景德镇市','萍乡市','九江市','新余市','鹰潭市','赣州市','吉安市','宜春市','抚州市','上饶市');
    china['山东省']=new Array('济南市','青岛市','淄博市','枣庄市','东营市','烟台市','潍坊市','济宁市','泰安市','威海市','日照市','莱芜市','临沂市','德州市','聊城市','滨州市','菏泽市');
    china['河南省']=new Array('郑州市','开封市','洛阳市','平顶山市','安阳市','鹤壁市','新乡市','焦作市','濮阳市','许昌市','漯河市','三门峡市','南阳市','商丘市','信阳市','周口市','驻马店市');
    china['湖北省']=new Array('武汉市','黄石市','十堰市','荆州市','宜昌市','襄樊市','鄂州市','荆门市','孝感市','黄冈市','咸宁市','随州市');
    china['湖南省']=new Array('长沙市','株洲市','湘潭市','衡阳市','邵阳市','岳阳市','常德市','张家界市','益阳市','郴州市','永州市','怀化市','娄底市');
    china['广东省']=new Array('广州市','深圳市','珠海市','汕头市','韶关市','佛山市','江门市','湛江市','茂名市','肇庆市','惠州市','梅州市','汕尾市','河源市','阳江市','清远市','东莞市','中山市','潮州市','揭阳市','云浮市');
    china['海南省']=new Array('文昌市','琼海市','万宁市','五指山市','东方市','儋州市');
    china['四川省 ']=new Array('成都市','自贡市','攀枝花市','泸州市','德阳市','绵阳市','广元市','遂宁市','内江市','乐山市','南充市','眉山市','宜宾市','广安市','达州市','雅安市','巴中市','资阳市');
    china['贵州省']=new Array('贵阳市','六盘水市','遵义市','安顺市');
    china['云南省']=new Array('昆明市','曲靖市','玉溪市','保山市','昭通市','丽江市','普洱市','临沧市');
    china['陕西省']=new Array('西安市','铜川市','宝鸡市','咸阳市','渭南市','延安市','汉中市','榆林市','安康市','商洛市');
    china['甘肃省']=new Array('兰州市','金昌市','白银市','天水市','嘉峪关市','武威市','张掖市','平凉市','酒泉市','庆阳市','定西市','陇南市');
    china['青海省']=new Array('西宁市');
    china['台湾省'] = new Array('台北市','高雄市','基隆市','台中市','台南市','新竹市','嘉义市');
    china['广西壮族自治区']=new Array('南宁市','柳州市','桂林市','梧州市','北海市','防城港市','钦州市','贵港市','玉林市','百色市','贺州市','河池市','来宾市','崇左市');
    china['内蒙古自治区']=new Array('呼和浩特市','包头市','乌海市','赤峰市','通辽市','鄂尔多斯市','呼伦贝尔市','巴彦淖尔市','乌兰察布市');
    china['西藏自治区']=new Array('拉萨市');
    china['宁夏回族自治区']=new Array('银川市','石嘴山市','吴忠市','固原市','中卫市');
    china['新疆维吾尔自治区']=new Array('乌鲁木齐市','克拉玛依市');
    china['香港特别行政区']=new Array('香港特别行政区');
    china['澳门特别行政区']=new Array('澳门特别行政区');

    var obj_province = document.getElementById('cpub-location-province');
    var obj_city = document.getElementById('cpub-location-city');

    function onBasicInfoEditChangeProvince(){
        var selected_province = obj_province.value;
        obj_city.length = 0;

        for(var i = 0; i < china[selected_province].length; ++i){
            obj_city.options[i] = new Option();
            obj_city.options[i].text = china[selected_province][i];
            obj_city.options[i].value = china[selected_province][i];
        }
    }


    // -------------------- 出生年月相关 --------------------
    var obj_birthday_year = document.getElementById('cpub-birthday-year');
    var obj_birthday_month = document.getElementById('cpub-birthday-month');
    var obj_birthday_day = document.getElementById('cpub-birthday-day');

    obj_birthday_year.length = 0;
    obj_birthday_day.length = 0;

    // 起始年份和终止年份
    var start_year = 1900;
    var end_year = 2016;
    var year_option_index = 0;

   // 填充出生年月中的年份
    for(var year = start_year; year <= end_year; ++year){
        obj_birthday_year[year_option_index] = new Option();
        obj_birthday_year[year_option_index].text = year;
        obj_birthday_year[year_option_index].value = year;
        ++year_option_index;
    }

    // 默认年份为2000年
    obj_birthday_year.value = 2000;

    // 填充 日 数据
    function fill_birthday_day_option(max_day) {
        var day_option_index = 0;
        obj_birthday_day.length = 0;
        // 填充出生年月中的日
        for (var day = 1; day <= max_day; ++day) {
            obj_birthday_day[day_option_index] = new Option();
            if (day < 10) {
                obj_birthday_day[day_option_index].text = '0' + day;
            }
            else {
                obj_birthday_day[day_option_index].text = day;
            }
            obj_birthday_day[day_option_index].value = day;
            ++day_option_index;
        }
    }

    fill_birthday_day_option(31);

    // 当前份变化时，需要重新填充Day，
    function onBasicInfoEditChangeBirthdayYear(){
        onBasicInfoEditChangeBirthDayMonth();

    }

    // 当月份变化时，需要重新填充Day
    // 闰年的2月有29天，平年有28天
    // 闰年计算：能被4整除，并且能被100和400整除
    function onBasicInfoEditChangeBirthDayMonth() {
        var selected_bithday_year = parseInt(obj_birthday_year.value);
        var selected_birthday_month = parseInt(obj_birthday_month.value);

        var max_day = 0;

        switch (selected_birthday_month) {
            case 1:
            case 3:
            case 5:
            case 7:
            case 8:
            case 10:
            case 12:
            {
                max_day = 31;
            }
                break;
            case 2:
            {
                if(selected_bithday_year % 4 == 0 &&
                        selected_bithday_year % 100 == 0
                        && selected_bithday_year % 400 == 0){
                    max_day = 29;
                }
                else{
                    max_day = 28;
                }


            }
                break;
            case 4:
            case 6:
            case 9:
            case 11:
            {
                max_day = 30;
            }
                break;
            default:
            {
                alert("Fuck you value");
            }
                break;
        }

        fill_birthday_day_option(max_day);
    }


    // 编辑确认按钮
    function onBasicInfoEditConfirm(){
        var account_id = <%= @current_page_account_id %>
        var name = document.getElementById('cpub-username').value;
        var gender = document.getElementById('cpub-gender').value;
        var occupation = document.getElementById('cpub-occupation').value;
        var birthday_year = obj_birthday_year.value;
        var birthday_month = obj_birthday_month.value;
        var birthday_day = obj_birthday_day.value;
        var location_province = obj_province.value;
        var location_city = obj_city.value;
        var location = location_province + "-" + location_city

        if(location == "省份-城市"){
            location = ""
        }

        $.ajax({
            type:"POST",
            url: "/people/update/basic_info",
            data:{
                _name:name,
                _gender:gender,
                _occupation:occupation,
                _birthday_year:birthday_year,
                _birthday_month:birthday_month,
                _birthday_day:birthday_day,
                _location:location,
                _account_id:account_id},
            success:function(data,textStatus,xhr){
                if(data.result == 0){
                    document.getElementById('cpsb-username').innerText = "姓名: " + name;
                    document.getElementById('cpsb-gender').innerText = (gender == "none"? "性别" : (gender == "man" ? "男" : "女"));
                    document.getElementById('cpsb-occupation').innerText = "职业: " + occupation;
                    document.getElementById('cpsb-birthday').innerText = birthday_year + "-" + birthday_month + "-" + birthday_day;
                    document.getElementById('cpsb-location').innerText = (location == "" ? "现居地" : "现居地: " + location);
                }
                else{
                    alert("修改个人基础资料失败: " + data.message);
                }
            }
        });

        $('#co-peoples-show-basic-information').show();
        $('#co-peoples-update-basic-information').hide();
    }

    // 编辑取消按钮
    function onBasicInfoEditCancel(){
        $('#co-peoples-show-basic-information').show();
        $('#co-peoples-update-basic-information').hide();
    }



    $(document).ready(function(){

        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });
    });
</script>
<% end %>