<div class="co-peoples-education">
    <div class="cpe-header">
        <span>工作 & 技能</span>
        <span>Job & Skill</span>
    </div>

    <div class="cpe-content">

        <div class="cpe-content-icon">
            <img src="/images/peoples_school.png"/>
        </div>

        <div class="cpe-content-edus">
            <!-- 这里要写上编辑的代码 -->
            <div class="cpe-edu-edit">
                <input type="text" name="school" placeholder="请输入学校名称"/>

                <select id="cpe-begin-year">

                </select>

                <select id="cpe-begin-month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                ~
                <select id="cpe-end-year">

                </select>

                <select id="cpe-end-month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                <select name="degree">
                    <option value="博士">博士</option>
                    <option value="硕士">硕士</option>
                    <option value="本科">本科</option>
                    <option value="专科">专科</option>
                    <option value="其他">其他</option>
                </select>

                <input type="text" name="major" placeholder="请输入专业"/>
                <button class="cpe-confirm-btn">确定</button>
                <button class="cpe-cancel-btn">取消</button>

            </div>

            <div id="cpe-edu-items">

                <% @educations.each do |item| %>
                    <div class="cpe-edu-item" name="<%= item.education_id %>">
                        <span><%= item.school_name %></span>
                                    <span>
                                        <%= item.start_date / 100 %>.<%= (item.start_date % 100 < 10)? "0" + (item.start_date % 100).to_s : (item.start_date % 100) %>~<%= item.end_date / 100 %>.<%= (item.end_date % 100 < 10)? "0" + (item.end_date % 100).to_s : (item.end_date % 100) %>
                                    </span>
                        <span>学位: <%= item.degree %></span>
                        <span>专业: <%=item.major %></span>
                        <% if @is_master_user %>
                            <img src="/images/edit-icon.png" class="cpe-edit-btn"/>
                            <img src="/images/delete-icon.png" class="cpe-del-btn"/>
                        <% end %>
                    </div>
                <% end %>

                <% if @is_master_user %>
                <div class="cpe-edu-add" id="cpe-edu-add">
                    <span><img src="/images/add.png"/></span>
                    <span>点击添加教育经历</span>
                </div>
                <% end %>
            </div>
        </div>

    </div>

</div>


<% if @is_master_user %>
<script>
    var cpe_operation = 0;
    var cpe_education_id = 0;
    var cpe_current_edit_education_node = null;


    // 填充编辑状态下的年
    function cpe_fill_start_and_end_year() {
        var obj_cpe_begin_year = document.getElementById("cpe-begin-year");
        var obj_cpe_end_year = document.getElementById("cpe-end-year");

        var cpe_start_year = 1970;
        var cpe_end_year = 2016;


        obj_cpe_begin_year.length = 0;
        obj_cpe_end_year.length = 0;
        var index = 0;

        for (var year = cpe_start_year; year <= cpe_end_year; ++year) {
            obj_cpe_begin_year[index] = new Option();
            obj_cpe_begin_year[index].text = year;
            obj_cpe_begin_year[index].value = year;

            obj_cpe_end_year[index] = new Option();
            obj_cpe_end_year[index].text = year;
            obj_cpe_end_year[index].value = year;

            ++index;
        }

        obj_cpe_begin_year.value = 2010;
        obj_cpe_end_year.value = 2010;
    }

    // 填充编辑状态下的年
    cpe_fill_start_and_end_year();


    // 添加新的教育经历按钮事件
    $(".cpe-edu-add").click(function(){
        $(this).parent().hide();
        $(this).parent().prev().show();
        cpe_operation = 0;
    });


    // 编辑状态下的确认按钮
    $(".cpe-confirm-btn").click(function(){

        var obj_parent = $(this).parent();

        var account_id = <%= @current_page_account_id %>;

        var school = $.trim(obj_parent.children("input[name=school]").val());

        var begin_year = $("#cpe-begin-year").val();
        var begin_month = $("#cpe-begin-month").val();
        var end_year = $("#cpe-end-year").val();
        var end_month = $("#cpe-end-month").val();

        var degree = obj_parent.children("select[name=degree]").val();
        var major = $.trim(obj_parent.children("input[name=major]").val());


        if(cpe_operation == 0){
            if(school == ""){
                alert("学校不能为空");
                return;
            }

            if(major == ""){
                alert("专业不能为空");
                return;
            }
        }



        var insertPoint = obj_parent.next().children(".cpe-edu-add");

        var date_str = begin_year + "." + begin_month + "~" + end_year + "." + end_month;
        var degree_str = "学位: " + degree;
        var major_str = "专业: " + major;


        var operation_bak = cpe_operation;



        $.ajax({
            type:"POST",
            url:"/people/update/education",
            data:{
                ajax_school:school,
                ajax_start_date:begin_year + begin_month,
                ajax_end_date:end_year + end_month,
                ajax_degree:degree,
                ajax_major:major,
                ajax_education_id:cpe_education_id,
                ajax_operation:cpe_operation,
                ajax_account_id:account_id
            },
            success:function(data,textStatus,xhr){
                if(data.result == 0){
                    if(operation_bak == 0){
                        // 如果操作码为0的话，则为添加新项目
                        var t = document.querySelector('#education_row');

                        var new_education_id = data.new_education_id;

                        t.content.querySelectorAll('span')[0].textContent = school;
                        t.content.querySelectorAll('span')[1].textContent = date_str;
                        t.content.querySelectorAll('span')[2].textContent = degree_str;
                        t.content.querySelectorAll('span')[3].textContent = major_str;
                        var clone = document.importNode(t.content, true);

                        var obj_edu_items = document.getElementById('cpe-edu-items');
                        var obj_last_node = document.getElementById('cpe-edu-add');
                        obj_edu_items.insertBefore(clone,obj_last_node);

                        $('#cpe-edu-add').prev().attr("name",new_education_id);

                        cpe_bind_edit_del_event($('#cpe-edu-add').prev());
                        cpe_bind_education_item_hover_event($('#cpe-edu-add').prev());
                    }
                    else if(operation_bak == 1){
                        // 如果操作码是1的话，则为编辑项目
                        cpe_set_item_values(cpe_current_edit_education_node,
                                school,begin_year,begin_month,end_year,end_month,
                                degree,major);
                    }

                }
            }
        });
        cpe_clear_edit_form();
        $(this).parent().hide();
        $(this).parent().next().show();

    });

    // 编辑状态下的取消按钮事件
    $(".cpe-cancel-btn").click(function(){
        $(this).parent().hide();
        $(this).parent().next().show();
        cpe_clear_edit_form();
    });


    // 编辑完了后，通过此函数设置编辑的那一个项目新数据
    function cpe_set_item_values(item_node, school,start_year, start_month, end_year, end_month,degree,major){

        var date_str = start_year + "." + start_month + "~" + end_year + "." + end_month;
        var degree_str = "学位: " + degree;
        var major_str = "专业: " + major;

        item_node.children("span:nth-child(1)").text(school);
        item_node.children("span:nth-child(2)").text(date_str);
        item_node.children("span:nth-child(3)").text(degree_str);
        item_node.children("span:nth-child(4)").text(major_str);
    }


    // 绑定编辑和删除按钮事件
    function cpe_bind_edit_del_event(obj = null) {

        var edit_btn = $(".cpe-edit-btn");
        var del_btn = $(".cpe-del-btn");

        if(obj != null){
            edit_btn = obj.find(".cpe-edit-btn");
            del_btn = obj.find(".cpe-del-btn");
        }

        // 绑定编辑按钮事件
        edit_btn.click(function () {
            cpe_operation = 1;
            cpe_education_id = $(this).parent().attr("name");
            cpe_current_edit_education_node = $(this).parent();

            $(this).parent().parent().prev().show();
            $(this).parent().parent().hide();

            var old_school = $.trim($(this).parent().children("span:nth-child(1)").text());
            var old_date = $.trim($(this).parent().children("span:nth-child(2)").text());
            var old_degree = $.trim($(this).parent().children("span:nth-child(3)").text());
            var old_major = $.trim($(this).parent().children("span:nth-child(4)").text());

            var dateArray = old_date.split('~');
            var start_dateArray = dateArray[0].split('.');
            var end_dateArray = dateArray[1].split('.');

            var start_date_year = start_dateArray[0];
            var start_date_month = start_dateArray[1];
            var end_date_year = end_dateArray[0];
            var end_date_month = end_dateArray[1];

            var degree = $.trim(old_degree.split(':')[1]);
            var major = $.trim(old_major.split(':')[1]);

            var node_parent = $('.cpe-edu-edit');
            node_parent.children("input[name=school]").val(old_school);
            $("#cpe-begin-year").val(start_date_year);
            $("#cpe-begin-month").val(start_date_month);
            $("#cpe-end-year").val(end_date_year);
            $("#cpe-end-month").val(end_date_month);
            node_parent.children("select[name=degree]").val(degree);
            node_parent.children("input[name=major]").val(major);


        });

        // 绑定删除按钮事件
        del_btn.click(function () {
            cpe_operation = 2;
            cpe_education_id = $(this).parent().attr("name");
            current_account_id = <%= @current_page_account_id %>;

            $.ajax({
                type: "POST",
                url: "/people/update/education",
                data: {
                    ajax_education_id: cpe_education_id,
                    ajax_operation: cpe_operation,
                    ajax_account_id: current_account_id
                },
                success: function (data, textStatus, xhr) {
                    if (data.result == 0) {
                    }
                    else {
                        alert("操作失败: " + data.message);
                    }
                }
            });

            $(this).parent().remove();
        });
    }

    cpe_bind_edit_del_event();

    // 清掉编辑框里的数据
    function cpe_clear_edit_form(){
        var node_parent = $(".cpe-edu-edit");
        node_parent.children("input[name=school]").val("");
        node_parent.children("select[name=degree]").val("本科");
        node_parent.children("input[name=major]").val("");
        $("#cpe-begin-year").val("2010");
        $("#cpe-begin-month").val("01");
        $("#cpe-end-year").val("2010");
        $("#cpe-end-month").val("01");
    }



    function cpe_bind_education_item_hover_event(obj = null){

        var target = $(".cpe-edu-item");
        if(obj != null){
            target = obj;
        }

        target.hover(function(){
            $(this).children(".cpe-edit-btn").show();
            $(this).children(".cpe-del-btn").show();
        },function(){
            $(this).children(".cpe-edit-btn").hide();
            $(this).children(".cpe-del-btn").hide();
        });
    }

    cpe_bind_education_item_hover_event();

</script>
<% end %>