<div id="co-peoples-show-life-memory">

    <div id="co-peoples-show-life-memory-date">
        <span>2 0 1 6</span>
        <span>近期经历</span>
    </div>
    <div id="co-peoples-show-life-memory-hr">
        <hr>
    </div>

    <div id="co-peoples-show-life-memory-content">
        <div id="co-peoples-show-life-memory-tag">
            <div id="spring">
                <p id="spring-text">春</p>
                <p class="memory-tag-selector" id="memory-tag-selector-spring"></p>
            </div>
            <div id="summer">
                <p id="summer-text">夏</p>
                <p class="memory-tag-selector" id="memory-tag-selector-summer"></p>
            </div>
            <div id="autumn">
                <p id="autumn-text">秋</p>
                <p class="memory-tag-selector" id="memory-tag-selector-autumn"></p>
            </div>
            <div id="winter">
                <p id="winter-text">冬</p>
                <p class="memory-tag-selector" id="memory-tag-selector-winter"></p>
            </div>
        </div>

        <div class="co-peoples-show-life-memory-content-list" id="life-memory-content-list-spring">
            <div class="co-peoples-memory-item" id="memory-item-100000001">
                <div class="memory-content-holder" id="memory-content-holder-100000001" onmouseover="onMemoryItemMouseOver('100000001')" onmouseout="onMouseItemMouseOut('100000001')">
                    <div class="memory-content-text" id="memory-content-text-100000001">上帝创造了雪碧，那维他奶怎么办？</div>
                    <div class="memory-content-edit-buttons-holder" id="memory-content-edit-buttons-100000001">
                        <%= image_tag "memory_content_edit.png", :onclick=>"onClickEditMemoryItem('100000001');" %>
                        <%= image_tag "memory_content_del.png" , :onclick=>"onClickDeleteMemoryItem('100000001');" %>
                    </div>
                    <div class="memory-content-blank-space"></div>
                </div>

                <div class="memory-content-edit-holder" id="memory-content-edit-holder-100000001">
                    <input type="text" class="memory-content-edit-input" id="memory-content-edit-input-100000001"/>
                    <button class="memory-content-edit-btn" onclick="onEditMemoryItemConfirm('100000001');">确认</button>
                    <button class="memory-content-edit-btn" onclick="onEditMemoryItemCancel('100000001');">取消</button>
                </div>
            </div>

            <div class="memory-add-new-content-holder">
                <div class="memory-add-new-content-btn" id="memory-add-new-content-btn-spring" onclick="onClickAddNewMemoryBtn('spring');">
                    <span><%= image_tag "add.png" ,:class=>"memory-add-new-content-add-icon" %></span>
                    <span>点 击 添 加 近 期 经 历</span>
                </div>
                <div class="memory-add-new-content-edit" id="memory-add-new-content-edit-spring">
                    <input type="text" class="memory-content-edit-input" id="memory-content-add-new-input-spring"/>
                    <button class="memory-content-edit-btn" onclick="onClickAddNewMemoryConfirm('spring');">添加</button>
                    <button class="memory-content-edit-btn" onclick="onClickAddNewMemoryCancel('spring');">取消</button>
                </div>
            </div>


        </div>

        <div class="co-peoples-show-life-memory-content-list" id="life-memory-content-list-summer">
            summer
        </div>

        <div class="co-peoples-show-life-memory-content-list" id="life-memory-content-list-autumn">
            autumn
        </div>

        <div class="co-peoples-show-life-memory-content-list" id="life-memory-content-list-winter">
            winter
        </div>


    </div>

    <!--
    <% if @life_memories != nil %>
        <% @life_memories.each do |mem| %>
            <p><%= mem.content %> | <%= mem.date %></p>
        <% end %>
    <% end %>
    -->
</div>


<script>
    $(document).ready(function(){

        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });


        $('#memory-tag-selector-spring').show();
        $('#memory-tag-selector-summer').hide();
        $('#memory-tag-selector-autumn').hide();
        $('#memory-tag-selector-winter').hide();
        $('#life-memory-content-list-spring').show();
        $('#life-memory-content-list-summer').hide();
        $('#life-memory-content-list-autumn').hide();
        $('#life-memory-content-list-winter').hide();


        $('#spring-text').hover(function(){
            $('#memory-tag-selector-spring').show();
            $('#memory-tag-selector-summer').hide();
            $('#memory-tag-selector-autumn').hide();
            $('#memory-tag-selector-winter').hide();
            $('#life-memory-content-list-spring').show();
            $('#life-memory-content-list-summer').hide();
            $('#life-memory-content-list-autumn').hide();
            $('#life-memory-content-list-winter').hide();
        });
        $('#summer-text').hover(function(){
            $('#memory-tag-selector-spring').hide();
            $('#memory-tag-selector-summer').show();
            $('#memory-tag-selector-autumn').hide();
            $('#memory-tag-selector-winter').hide();
            $('#life-memory-content-list-spring').hide();
            $('#life-memory-content-list-summer').show();
            $('#life-memory-content-list-autumn').hide();
            $('#life-memory-content-list-winter').hide();
        });
        $('#autumn-text').hover(function(){
            $('#memory-tag-selector-spring').hide();
            $('#memory-tag-selector-summer').hide();
            $('#memory-tag-selector-autumn').show();
            $('#memory-tag-selector-winter').hide();
            $('#life-memory-content-list-spring').hide();
            $('#life-memory-content-list-summer').hide();
            $('#life-memory-content-list-autumn').show();
            $('#life-memory-content-list-winter').hide();
        });
        $('#winter-text').hover(function(){
            $('#memory-tag-selector-spring').hide();
            $('#memory-tag-selector-summer').hide();
            $('#memory-tag-selector-autumn').hide();
            $('#memory-tag-selector-winter').show();
            $('#life-memory-content-list-spring').hide();
            $('#life-memory-content-list-summer').hide();
            $('#life-memory-content-list-autumn').hide();
            $('#life-memory-content-list-winter').show();
        });
    });


    // 鼠标放在一条近况上
    function onMemoryItemMouseOver(id){
        $('#memory-content-edit-buttons-' + id).show();
    }

    // 鼠标从一条近况上移开
    function onMouseItemMouseOut(id){
        $('#memory-content-edit-buttons-' + id).hide();
    }

    // 点击了一条近况上编辑按钮
    function onClickEditMemoryItem(id){
        var oldContent = $('#memory-content-text-100000001').text();
        $('#memory-content-edit-input-' + id).val(oldContent);
        $('#memory-content-holder-' + id).hide();
        $('#memory-content-edit-holder-' + id).show();
    }

    // 点击了一条近况的删除按钮
    function onClickDeleteMemoryItem(id){
        alert("Delete: " + id);
        $('#memory-item-' + id).remove();
    }

    // 修改完一条近况点了确定
    function onEditMemoryItemConfirm(id){
        var newContent = $('#memory-content-edit-input-' + id).val();
        $('#memory-content-text-100000001').text(newContent);
        $('#memory-content-edit-input-' + id).val("");
        $('#memory-content-holder-' + id).show();
        $('#memory-content-edit-holder-' + id).hide();


        $.ajax({
            timeout:1000,
            type:"POST",
            url: "/people/update/life_memory",
            //data:{_content:content,_date:date,_account_id:account_id},
            data:{_content:"Fuck you man"},
            success:function(data,textStatus,xhr){
                alert(data.file_content + "    " + data.ajax_data + "    " + textStatus)
            }
        });
        // 将新的内容Ajax请求到服务器

    }

    // 修改了一条近况，点了取消
    function onEditMemoryItemCancel(id){
        $('#memory-content-edit-input-' + id).val("");
        $('#memory-content-holder-' + id).show();
        $('#memory-content-edit-holder-' + id).hide();
    }


    function onClickAddNewMemoryBtn(tag){

        $('#memory-add-new-content-btn-' + tag).hide();
        $('#memory-add-new-content-edit-' + tag).show();
    }

    function onClickAddNewMemoryConfirm(tag){

        var newContent = $('#memory-content-add-new-input-' + tag).val();

        $('#memory-add-new-content-btn-' + tag).show();
        $('#memory-add-new-content-edit-' + tag).hide();
        $('#memory-content-add-new-input-' + tag).val("");


        // Ajax 提交到服务器
    }

    function onClickAddNewMemoryCancel(tag){

        $('#memory-content-add-new-input-' + tag).val("");
        $('#memory-add-new-content-btn-' + tag).show();
        $('#memory-add-new-content-edit-' + tag).hide();
    }


</script>

















<!--

<% if is_master_user(@current_page_account_id) %>
<div id="co-peoples-update-life-memory">
    <p>添加一条近况：</br><input type="text" id="co-peoples-update-lifemem-content"/></p>
    <p><input type="date" id="co-peoples-update-lifemem-date"/></p>
    <p><button id="co-peoples-up-lifemem-submit">提交新的近况</button></p>
</div>


    <script>
        $(document).ready(function(){

            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });

             $('#co-peoples-up-lifemem-submit').click(function(){

                 var content = document.getElementById("co-peoples-update-lifemem-content").value;
                 var date = document.getElementById("co-peoples-update-lifemem-date").value;

                 if(content == ""){
                     alert("内容不能为空!");
                     return;
                 }

                 if(date == ""){
                     alert("日期不能为空");
                     return;
                 }

                alert("haha");
                 var account_id = <%= @current_page_account_id %>
                $.ajax({
                    type:"POST",
                    url: "/people/update/life_memory",
                    data:{_content:content,_date:date,_account_id:account_id}
                });

             });

        });
    </script>
<% end %>

-->