<div class="co-peoples-lifememory">
    <div class="cpls-left-side">
        <p>2<br/>0<br/>1<br/>6</p>
        <p>近<br/>期<br/>经<br/>历</p>

    </div>

    <div class="cpls-right-side">
        <div class="cpls-rside-top-side">
            <div class="cpls-tab">
                <div class="cpls-tab-name" name="spring">春</div>
                <div class="cpls-tab-line"></div>
            </div>

            <div class="cpls-tab">
                <div class="cpls-tab-name" name="summer">夏</div>
                <div class="cpls-tab-line"></div>
            </div>

            <div class="cpls-tab">
                <div class="cpls-tab-name" name="autumn">秋</div>
                <div class="cpls-tab-line"></div>
            </div>

            <div class="cpls-tab">
                <div class="cpls-tab-name" name="winter">冬</div>
                <div class="cpls-tab-line"></div>
            </div>

            <div class="cpls-tab"></div>
            <div class="cpls-tab"></div>
        </div>


        <div class="cpls-rside-content">
            <div class="cpls-content-holder" name="spring">
                <% @life_memories_spring.each do |item| %>
                    <div class="cpls-content-item" name="<%= item.life_memory_uuid %>">
                        <div class="cpls-content-item-show">
                            <p>
                                <span name="cpls-item-text"><%= item.content %></span>
                                <span name="cpls-item-btn"><img src="/images/edit-icon.png" class="cpls-edit-btn"/></span>
                                <span name="cpls-item-btn"><img src="/images/delete-icon.png" class="cpls-del-btn"/></span>
                            </p>
                        </div>

                        <div class="cpls-content-item-edit">
                            <span><input type="text" class="cpls-text-input"/></span>
                            <span><button class="cpls-confirm-btn">确定</button></span>
                            <span><button class="cpls-cancel-btn">取消</button></span>
                        </div>
                    </div>
                <% end %>


                <% if @is_master_user && @life_memories_spring.count < 8 %>
                    <div class="cpls-content-add-field">
                        <span><input type="text" class="cpls-text-input"/></span>
                        <span><button class="cpls-add-confirm-btn">确定</button></span>
                        <span><button class="cpls-add-cancel-btn">取消</button></span>
                    </div>

                    <div class="cpls-content-add-btn" name="fuckyou">
                        <span><img src="/images/add.png"/></span>
                        <span>点击以添加近期经历</span>
                    </div>
                <% end %>
            </div>

            <div class="cpls-content-holder" name="summer">
                <% @life_memories_summer.each do |item| %>
                    <div class="cpls-content-item" name="<%= item.life_memory_uuid %>">
                        <div class="cpls-content-item-show">
                            <p>
                                <span name="cpls-item-text"><%= item.content %></span>
                                <span name="cpls-item-btn"><img src="/images/edit-icon.png" class="cpls-edit-btn"/></span>
                                <span name="cpls-item-btn"><img src="/images/delete-icon.png" class="cpls-del-btn"/></span>
                            </p>
                        </div>

                        <div class="cpls-content-item-edit">
                            <span><input type="text" class="cpls-text-input"/></span>
                            <span><button class="cpls-confirm-btn">确定</button></span>
                            <span><button class="cpls-cancel-btn">取消</button></span>
                        </div>
                    </div>
                <% end %>


                <% if @is_master_user && @life_memories_summer.count < 8 %>
                    <div class="cpls-content-add-field">
                        <span><input type="text" class="cpls-text-input"/></span>
                        <span><button class="cpls-add-confirm-btn">确定</button></span>
                        <span><button class="cpls-add-cancel-btn">取消</button></span>
                    </div>

                    <div class="cpls-content-add-btn">
                        <span><img src="/images/add.png"/></span>
                        <span>点击以添加近期经历</span>
                    </div>
                <% end %>
            </div>

            <div class="cpls-content-holder" name="autumn">
                <% @life_memories_autumn.each do |item| %>
                    <div class="cpls-content-item" name="<%= item.life_memory_uuid %>">
                        <div class="cpls-content-item-show">
                            <p>
                                <span name="cpls-item-text"><%= item.content %></span>
                                <span name="cpls-item-btn"><img src="/images/edit-icon.png" class="cpls-edit-btn"/></span>
                                <span name="cpls-item-btn"><img src="/images/delete-icon.png" class="cpls-del-btn"/></span>
                            </p>
                        </div>

                        <div class="cpls-content-item-edit">
                            <span><input type="text" class="cpls-text-input"/></span>
                            <span><button class="cpls-confirm-btn">确定</button></span>
                            <span><button class="cpls-cancel-btn">取消</button></span>
                        </div>
                    </div>
                <% end %>


                <% if @is_master_user && @life_memories_autumn.count < 8 %>
                    <div class="cpls-content-add-field">
                        <span><input type="text" class="cpls-text-input"/></span>
                        <span><button class="cpls-add-confirm-btn">确定</button></span>
                        <span><button class="cpls-add-cancel-btn">取消</button></span>
                    </div>

                    <div class="cpls-content-add-btn">
                        <span><img src="/images/add.png"/></span>
                        <span>点击以添加近期经历</span>
                    </div>
                <% end %>
            </div>

            <div class="cpls-content-holder" name="winter">
                <% @life_memories_winter.each do |item| %>
                    <div class="cpls-content-item" name="<%= item.life_memory_uuid %>">
                        <div class="cpls-content-item-show">
                            <p>
                                <span name="cpls-item-text"><%= item.content %></span>
                                <span name="cpls-item-btn"><img src="/images/edit-icon.png" class="cpls-edit-btn"/></span>
                                <span name="cpls-item-btn"><img src="/images/delete-icon.png" class="cpls-del-btn"/></span>
                            </p>
                        </div>

                        <div class="cpls-content-item-edit">
                            <span><input type="text" class="cpls-text-input"/></span>
                            <span><button class="cpls-confirm-btn">确定</button></span>
                            <span><button class="cpls-cancel-btn">取消</button></span>
                        </div>
                    </div>
                <% end %>


                <% if @is_master_user && @life_memories_winter.count < 8 %>
                    <div class="cpls-content-add-field">
                        <span><input type="text" class="cpls-text-input"/></span>
                        <span><button class="cpls-add-confirm-btn">确定</button></span>
                        <span><button class="cpls-add-cancel-btn">取消</button></span>
                    </div>

                    <div class="cpls-content-add-btn">
                        <span><img src="/images/add.png"/></span>
                        <span>点击以添加近期经历</span>
                    </div>
                <% end %>
            </div>
        </div>

    </div>
</div>


<script>
    $(function() {

        // 首先所有的 tab line 隐藏
        $(".cpls-tab-line").hide();
        // 显示出第一个 tab line
        $(".cpls-tab-line").first().show();

        // 春的内容默认显示
        $(".cpls-content-holder").first().show();


        // 当某一个tab悬浮的时候，隐藏所有，然后显示当前的tabline
        $(".cpls-tab-name").click(function(){
            $(".cpls-tab-line").hide();
            $(this).next().show();
            var name = $(this).attr("name");

            $(".cpls-content-holder").hide();
            $(".cpls-content-holder" + "[name=" + name + "]").show();
        });


        <% if @is_master_user %>

        function cpls_bind_hover_event(obj = null) {

            var target;
            if(obj != null){
                target = obj.find("p");
            }
            else{
                target = $('.cpls-content-item-show p');
            }

            target.hover(function () {
                $(this).children("span[name=cpls-item-btn]").show();

            }, function () {
                $(this).children("span[name=cpls-item-btn]").hide();
            });

        }

        //cpls_bind_hover_event();

        function cpls_bind_edit_del_event(obj = null) {
            var target;
            var del_target;
            if(obj != null){

                target = obj.find(".cpls-edit-btn");
                del_target = obj.find(".cpls-del-btn");
            }
            else{
                target = $(".cpls-edit-btn");
                del_target = $(".cpls-del-btn");
            }

            // 点击了一条近况的编辑按钮
            target.click(function () {
                $(this).parent().parent().parent().hide();
                $(this).parent().parent().parent().next().show();
                var content = $(this).parent().parent().first().text();
                content = $.trim(content);
                $(this).parent().parent().parent().next().children().children("input").val(content);
            });

            // 点击了一条近况的删除按钮
            del_target.click(function () {
                var content_id = $(this).parent().parent().parent().parent().attr("name");
                var name = $(this).parent().parent().parent().parent().parent().attr("name");

                var obj_add_btn = $(this).parent().parent().parent().parent().siblings(".cpls-content-add-btn")

                var tag = -1;

                if(name == "spring"){
                    tag = 1;
                }
                else if(name == "summer"){
                    tag = 2;
                }
                else if(name == "autumn"){
                    tag = 3;
                }
                else if(name == "winter"){
                    tag = 4;
                }

                var obj_this = $(this);

                $.ajax({
                    timeout:1000,
                    type:"POST",
                    url: "/people/update/life_memory",

                    data:{arg_operation:2, arg_life_memory_uuid:content_id,arg_tag:tag},
                    success:function(data,textStatus,xhr){

                        if(data.result == 0){
                            obj_this.parent().parent().parent().parent().remove();

                            if(data.count == 7){

                                obj_add_btn.show();
                            }
                        }
                    }
                });
            });

        }

        //cpls_bind_edit_del_event();

        function cpls_bind_edit_confirm_cancel_event(obj = null) {

            var obj_confirm_btn = null;
            var obj_cancel_btn = null;
            if(obj == null){
                obj_confirm_btn = $(".cpls-confirm-btn");
                obj_cancel_btn = $(".cpls-cancel-btn");
            }
            else{
                obj_confirm_btn = obj.find(".cpls-confirm-btn");
                obj_cancel_btn = obj.find(".cpls-cancel-btn");
            }


            // 编辑近况的确认按钮
            obj_confirm_btn.click(function () {
                $(this).parent().parent().prev().show();
                $(this).parent().parent().hide();

                var new_content = $(this).parent().prev().children("input").val();
                $(this).parent().parent().prev().children().children("span[name=cpls-item-text]").text(new_content);

                var content_id = $(this).parent().parent().parent().attr("name");
                var name = $(this).parent().parent().parent().parent().attr("name");

                var tag = -1;

                if(name == "spring"){
                    tag = 1;
                }
                else if(name == "summer"){
                    tag = 2;
                }
                else if(name == "autumn"){
                    tag = 3;
                }
                else if(name == "winter"){
                    tag = 4;
                }

                var obj_this = $(this);


                $.ajax({
                    timeout:1000,
                    type:"POST",
                    url: "/people/update/life_memory",
                    data:{arg_content:new_content, arg_operation:1, arg_life_memory_uuid:content_id,arg_tag:tag},
                    success:function(data,textStatus,xhr){
                        if(data.result == 0){

                        }
                    }
                });


            });

            // 编辑近况的取消按钮
            obj_cancel_btn.click(function () {
                $(this).parent().parent().hide();
                $(this).parent().parent().prev().show();
            });
        }

        //cpls_bind_edit_confirm_cancel_event();


        function cpls_rebind_all_dynamic_event(obj = null){
            cpls_bind_hover_event(obj);
            cpls_bind_edit_del_event(obj);
            cpls_bind_edit_confirm_cancel_event(obj);
        }



        cpls_rebind_all_dynamic_event();


        // 添加近况按钮
        $(".cpls-content-add-btn").click(function(){
            $(this).hide();
            $(this).prev().show();
        });


        // 添加一条近况 确定
        $(".cpls-add-confirm-btn").click(function(){
            $(this).parent().parent().next().show();
            $(this).parent().parent().hide();

            var add_content = $(this).parent().prev().children("input").val();

            add_content = $.trim(add_content);
            if(add_content.length == 0){
                //alert("近况不能为空!")
                return;
            }

            //alert(add_content);

            var name = $(this).parent().parent().parent().attr("name");

            var tag = -1;

            if(name == "spring"){
                tag = 1;
            }
            else if(name == "summer"){
                tag = 2;
            }
            else if(name == "autumn"){
                tag = 3;
            }
            else if(name == "winter"){
                tag = 4;
            }


            var obj_this = $(this);

            $.ajax({
                timeout:1000,
                type:"POST",
                url: "/people/update/life_memory",
                data:{arg_content:add_content, arg_operation:0, arg_tag:tag},
                success:function(data,textStatus,xhr){
                    if(data.result == 0){

                        var new_content_uuid = data.new_life_memory_uuid;
                        var new_content = data.arg_content;

                        var new_content_html =
                                '<div class="cpls-content-item" name="CONTENT_ID">' +
                                '<div class="cpls-content-item-show">' +
                                '<p>'+
                                '<span name="cpls-item-text">CONTENT_POS</span>'+
                                '<span name="cpls-item-btn"><img src="/images/edit-icon.png" class="cpls-edit-btn" style="margin-bottom:-2px;"/></span>'+
                                '<span name="cpls-item-btn"><img src="/images/delete-icon.png" class="cpls-del-btn" style="margin-left:5px; margin-bottom:-3px;"/></span>'+
                                '</p>'+
                                '</div>'+
                                '<div class="cpls-content-item-edit">'+
                                '<span><input type="text" class="cpls-text-input"/></span>'+
                                '<span><button class="cpls-confirm-btn" style="margin-left:5px;">确定</button></span>'+
                                '<span><button class="cpls-cancel-btn" style="margin-left:5px;">取消</button></span>'+
                                '</div>'+
                                '</div>';

                        new_content_html = new_content_html.replace(/CONTENT_POS/g,add_content);
                        new_content_html = new_content_html.replace(/CONTENT_ID/g,new_content_uuid);

                        $(new_content_html).insertBefore(obj_this.parent().parent());


                        if(data.count >= 8){
                            //alert("Hide");
                            obj_this.parent().parent().next().hide();
                            obj_this.parent().parent().hide();
                        }

                        cpls_rebind_all_dynamic_event(obj_this.parent().parent().prev());
                    }

                }
            });

            // 将添加框中的内容清空，这里应该添加在打开的时候
            $(this).parent().prev().children("input").val("");


        });

        // 添加一条近况 取消
        $(".cpls-add-cancel-btn").click(function(){
            $(this).parent().parent().next().show();
            $(this).parent().parent().hide();

            // 将添加框中的内容清空，这里应该添加在打开的时候
            $(this).parent().prev().children("input").val("");
        });

        <% end %>

    });



</script>