<% content_for :head do %>

    <%= stylesheet_link_tag 'jquery-ui' %>
    <%= stylesheet_link_tag 'peoples' %>

<% end %>

<div class="co-verticle-holder">
    <div class="co-peoples-holder">

        <!-- 左边栏 -->
        <%= render 'peoples/head_icon' %>

        <!-- 右边内容 -->
        <div class="co-peoples-right-side">
            <!-- 导航条 -->
            <%= render 'peoples/nav' %>

            <!-- 基本信息 -->
            <%= render 'peoples/basic_info' %>

            <!-- 近况 -->
            <%= render 'peoples/life_memory' %>


            <!-- 加入的项目 -->
            <%= render 'peoples/person_joined_project' %>


            <!-- 我的评论 -->
            <%= render 'peoples/project_comment' %>

            <!-- 教育信息 -->
            <%= render 'peoples/education' %>


            <!-- 技能信息 -->
            <%= render 'peoples/ability' %>


            <!-- 工作经历 -->
            <%= render 'peoples/work_experience' %>

            <div style="height:200px;"></div>
        </div>

    </div>

</div>





<script>

    $.ajaxSetup({
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
    });


</script>

