


<div id="co-peoples-wrapper">

    <div style="border:1px solid green; width:200px; height:100%">
        hahahahahahah
    </div>

    <%= render 'peoples/peoples_header' %>

    <div id="co-peoples-basic-info-wrapper">
        <%= render 'peoples/basic_info' %>
    </div>




    <div id="co-peoples-project-comment-wrapper">
        <%= render 'peoples/project_comment' %>
    </div>

    <div id="co-peoples-person-joined-project-wrapper">
        <%= render 'peoples/person_joined_project' %>
    </div>

    <div id="co-peoples-education-wrapper">
        <%= render 'peoples/education' %>
    </div>

    <div id="co-peoples-ability-wrapper">
        <%= render 'peoples/ability' %>
    </div>

    <div id="co-peoples-work-experience-wrapper">
        <%= render 'peoples/work_experience' %>
    </div>

</div>
<!--



-->

<!--
<div style="margin-top:100px; margin-left:100px; width:200px;">
<div id="red"></div>
</div>

<script>
    function test_hide_show(isshow){
        if(isshow == true) {
            $('#test02').hide();
        }
        else{
            $('#test02').show();
        }
    }

    function test(holder){
        alert(holder)
    }

    function refreshStop(){
        var red = $("#red").slider("value");
        alert(red);
    }

    $(function() {
        $( "#red").slider({
            orientation: "horizontal",
            range: "min",
            max: 255,
            value: 255,


       });
        $( "#red" ).slider( "value", 150 );

    });

</script>
-->