<% content_for :head do %>
    <%= stylesheet_link_tag 'peoples' %>
<% end %>

<div class="co-verticle-holder">
    <div class="co-peoples-holder">

        <!-- 左边栏 -->
        <%= render 'peoples/head_icon' %>

        <!-- 右边内容 -->
        <div class="co-peoples-right-side">
            <!-- 导航条 -->
            <%= render 'peoples/nav' %>

            <!-- 基本信息 -->
            <%= render 'peoples/basic_info' %>

            <!-- 近况 -->
            <%= render 'peoples/life_memory' %>


            <!-- 加入的项目 -->
            <%= render 'peoples/person_joined_project' %>


            <!-- 我的评论 -->
            <%= render 'peoples/project_comment' %>

            <!-- 教育信息 -->
            <%= render 'peoples/education' %>


            <!-- 技能信息 -->
            <div class="co-peoples-ability">

            </div>

            <!-- 工作经历 -->
            <div class="co-peoples-work">

            </div>
        </div>

    </div>

</div>


<template id="education_row">
    <div class="cpe-edu-item" name="">
        <span id="cpe-edit-school">首都经济贸易大学</span>
        <span>2010.07~2014.08</span>
        <span>学位: 博士</span>
        <span>专业: 软件工程</span>
        <img src="/images/edit-icon.png" class="cpe-edit-btn"/>
        <img src="/images/delete-icon.png" class="cpe-del-btn"/>
    </div>
</template>


<script>
    $(function() {

        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });


    });



</script>